.color-example {
    color:aqua;
    background-color: #FFA500;
    border-style: solid;
    border-width: 3px;
    border-color: red;
}

.header-example {
    font-size: 48px;
    font-family: "Times New Roman", Times, Serif;
    color: violet;
}

.list-example {
    list-style-type:upper-roman;
    color: green;
}

.text-example {
    font-family: "Arial", sans-serif;
    font-size: 20px;
    text-transform: capitalize;
    text-decoration: underline;
}

.div-example{
    background-color: gold;
    border-style: double;
    border-width: 5px;
    border-color: black;
}