* {
    box-sizing: border-box;
}

body {
    width: 90%;
    margin-left: auto;
    margin-right: auto;
}
#header-div{
    background-color:aqua;
    padding: 40px;
    text-align:center;
    font-size: 40px;
    color: darkblue;
}

#horz-nav-div {
    background-color:grey;
    padding:2px;
}

#horz-nav-div ul {
    text-align:center;
    padding:0;
}

#horz-nav-div a:hover{
    color: red;
}

#horz-nav-div li {
    list-style-type:none;
    padding:10px;
    font-size:20px;
    display:inline-block;
}

#vert-nav-div {
    border-style:solid;
    border-color:black;
    background-color:lightgrey;
    float:left;
    width:5%;
    height:600px;
}

#vert-nav-div ul{
    list-style-type:none;
    padding:5px;
}

#vert-nav-div li{
    padding:15px;
}

#section-div {
    text-align:center;
    background-color:white;
    float:left;
    padding:5px;
    width:45%;
    height:600px;
}
#section-div p {
    font-family:'Times New Roman', Times, serif;
    font-size:20px;
    border-style:double;
    border-radius:10px;
    border-width:5px;
    padding:5px;
    display:inline-block;
    width:400px;
    margin:auto;
}

#article-div {
    background-color: lightcoral;
    float:left;
    text-align:center;
    width:50%;
    height:600px;
}
figure {
    margin:auto;
    padding-top:100px;
    padding-bottom:20px;
}

@media (max-width:600px) {
     #vert-nav-div, #section-div, #article-div {
        width:100%;
        height:auto;
    }
}

.column {
    float:left;
    width: 50%;
    padding:5px;
}

.row {
    clear:both;
    display:table;
    margin: auto;
}

@media screen and (max-width:600px) {
    .column {
        width:100%;
    }
}
#footer-div {
    clear:both;
    background-color:pink;
    text-align:center;
    padding:30px
}
