* {
    box-sizing: border-box;
}

body {
    width: 90%;
    margin-left: auto;
    margin-right: auto;
}
#header-div{
    background-color:aqua;
    padding: 40px;
    text-align:center;
    font-size: 40px;
    color: darkblue;
}

#nav-div {
    background-color:grey;
    padding:2px;
}

nav li {
    list-style-type:none;
    padding:10px;
    font-size:20px;
    display:inline-block
}

#section-div {
    text-align:center;
    background-color:white;
    float:left;
    padding-left: 30px;
    width:50%;
    height:500px;
}

#article-div {
    background-color: lightcoral;
    float:left;
    padding-top:100px;
    text-align:center;
    width:50%;
    height:500px;
}

@media (max-width:1000px) {
     #section-div, #article-div {
        width:100%;
        height:auto;
    }
}

.column {
    float:left;
    width: 50%;
    padding:5px;
}

.row {
    clear:both;
    display:table;
    margin: auto;
}

@media screen and (max-width:500px) {
    .column {
        width:100%;
    }
}
#footer-div {
    background-color:pink;
    text-align:center;
    padding:30px

}